// Z INDEX
$abovez: 2;
$belowz: 1;

// BUTTONS
$green-button: #29be56;
$blue-button: #3498db;

// COLORS
$white: white;

// FONTS
$font1: "Montserrat", sans-serif;

// TRANSITIONS
$short-transition: 0.5s;

// HEIGHTS
$full-h: 100vh;
$half-h: 50vh;
$phone-h: 500px;

// WIDTHS
$full-w: 100vh;
$half-w: 50vh;
