@import "./var-color";

/* BG COLOR */
$fb-bg: #4f7dbd;
$google-bg: #e24b2e;
$twitter-bg: #64cdf1;
$login-color-bg: #64b1ff;
$container-bg: #fcfcfc;

/* TEXT COLOR */
$gen-text-color: #4d4a5b;
$link-color: #58a4df;

/* LINE COLOR */
$line-color: #00000033;

/* BORDER */
$solid-border: 1px solid #00000033;

/* SHADOW */
$solid-shadow: 1px 0px #0000001a;
